[Unit]
Description=Couture Webapp

[Service]
Environment=DISPLAY=:0
WorkingDirectory=/srv/couture/
ExecStart=/usr/bin/node server.js
Restart=always

[Install]
WantedBy=multi-user.target
